# Entornos virtuales
.venv/
ProyectosdeGrado_API/.venv/

# Variables de entorno
.env
ProyectosdeGrado_API/.env

# Cache Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Angular
ProyectosdeGrado_WEB/node_modules/
ProyectosdeGrado_WEB/.angular/

# Git
.git/
.gitignore

# README
README.md
