# Entornos virtuales
.venv/
ProyectosdeGrado_API/.venv/

# Variables de entorno
.env
ProyectosdeGrado_API/.env

# Django
ProyectosdeGrado_API/**/__pycache__/
ProyectosdeGrado_API/**/*.pyc
ProyectosdeGrado_API/**/migrations/__pycache__/

# Angular
ProyectosdeGrado_WEB/node_modules/
ProyectosdeGrado_WEB/dist/
ProyectosdeGrado_WEB/.angular/

# Base de datos
postgres_data/

# VS Code
.vscode/
